################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/.vs
/Debug
/Cracking the Coding Interview.vcxproj.user
/Cracking the Coding Interview.vcxproj.filters
/Cracking the Coding Interview.vcxproj
/Cracking the Coding Interview.sln
/x64/Debug
/~$tracker.xlsx
